<!-- 全局导航栏 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-3">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" routerLink="/">JobPortal</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="active">Job Listings</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/add-job']" routerLinkActive="active">Post a Job</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/applications']" routerLinkActive="active">Applications</a>
        </li>

      </ul>
    </div>
  </div>
</nav>


<!-- 页面内容区域 -->
<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
