<nav class="navbar navbar-expand-lg shadow-sm" style="background-color: #023047;">
  <div class="container-fluid">
    <!-- Logo -->

    <a class="navbar-brand text-light fw-bold fs-4" routerLink="/"> JobPortal</a>
    <!-- Droite -->
    <div class="d-flex ms-auto align-items-center gap-2">
      <a class="btn btn-outline-light fw-semibold me-2" routerLink="/" routerLinkActive="active">
          Job Opportunities
      </a>
      <ng-container *ngIf="isLoggedIn; else loginButton">
        
        <!-- Candidat -->
        <ng-container *ngIf="!isRecruiter(); else recruiterView">
          <div class="dropdown">
            <button
              class="btn btn-outline-light dropdown-toggle fw-semibold"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ getInitial() }}. {{ getFirstName() }}
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" routerLink="/applications">My Applications</a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item text-danger" (click)="logout()">Logout</a>
              </li>
            </ul>
          </div>
        </ng-container>

         <!-- Recruteur -->
         <ng-template #recruiterView>
          <a class="btn btn-warning text-dark fw-semibold" routerLink="/add-job" routerLinkActive="active">
            Post Job
          </a>
          <a class="btn btn-success fw-semibold" routerLink="/applications" routerLinkActive="active">
            Applications Records
          </a>

          <div class="dropdown">
            <button
              class="btn btn-outline-light dropdown-toggle fw-semibold"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ getCompanyName() }}
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item text-danger" (click)="logout()">Logout</a>
              </li>
            </ul>
          </div>
        </ng-template>
      </ng-container>

      <!-- Pas connecté -->
      <ng-template #loginButton>
        <a class="btn btn-outline-light fw-semibold" routerLink="/login-choice">Connexion</a>
      </ng-template>
    </div>
  </div>
</nav>

<!-- Page content -->
<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
